<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout::layout}">
<body>
<div class="email-container">
<main layout:fragment="content">
    <h1 th:text="'博友圈 ' + ${monthlySelectedPost.yearMonthStr} + ' 精选文章'"></h1>

    <p th:text="'如下是您订阅的博友圈「每月精选」频道 ' + ${monthlySelectedPost.yearMonthStr} + ' 的精选文章：'"></p>

    <table>
        <thead>
        <tr>
            <th>博客名称</th>
            <th>文章标题</th>
            <th>发布时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, stat : ${monthlySelectedPost.postInfos}">
            <td><a th:text="${post.blogName}" th:href="@{'https://www.boyouquan.com/blogs/{domain}'(domain=${post.blogDomainName})}"></a></td>
            <td><a th:text="${post.title}" th:href="@{'https://www.boyouquan.com/go?from=email&link={link}'(link=${post.link})}"></a></td>
            <td th:text="${T(com.boyouquan.util.CommonUtils).dateCommonFormatDisplay(post.publishedAt)}"></td>
        </tr>
        </tbody>
    </table>

    <div class="footer-operation">
        <p><a href="https://www.boyouquan.com/">首页</a> | <a href="https://www.boyouquan.com/monthly-selected">往期精选</a> | <a th:href="@{'https://www.boyouquan.com/cancel-subscription?email={email}'(email=${email})}">取消订阅</a></p>
    </div>
</main>
</div>
</body>
</html>