<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.BlogIntimacySearchHistoryDaoMapper">
    <sql id="insert_columns">
        source_blog_domain_name,
        target_blog_domain_name,
        path_length,
        ip_address,
        searched_at
    </sql>
    <sql id="select_columns">
        id,
        source_blog_domain_name as sourceBlogDomainName,
        target_blog_domain_name as targetBlogDomainName,
        path_length as pathLength,
        ip_address as ipAddress,
        searched_at as searchedAt
    </sql>
    <select id="listLatest" resultType="com.boyouquan.model.BlogIntimacySearchHistory">
        SELECT t.* FROM (
        SELECT
        source_blog_domain_name, target_blog_domain_name, max(path_length) as path_length, max(ip_address) as ip_address, max(searched_at) as searched_at
        FROM blog_intimacy_search_history
        GROUP BY source_blog_domain_name, target_blog_domain_name
        ORDER BY source_blog_domain_name, target_blog_domain_name, max(searched_at) DESC
        ) t ORDER BY t.searched_at DESC
        LIMIT #{size}
    </select>
    <insert id="save">
        INSERT INTO blog_intimacy_search_history (
        <include refid="insert_columns"/>
        ) VALUES (
        #{sourceBlogDomainName},
        #{targetBlogDomainName},
        #{pathLength},
        #{ipAddress},
        now()
        )
    </insert>
</mapper>