<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.DomainNameInfoDaoMapper">
    <sql id="insert_columns">
        real_domain_name,
        registered_at,
        created_at,
        updated_at,
        deleted
    </sql>
    <sql id="select_columns">
        real_domain_name as realDomainName,
        registered_at as registeredAt,
        created_at as createdAt,
        updated_at as updatedAt,
        deleted
    </sql>
    <select id="getByRealDomainName" resultType="com.boyouquan.model.DomainNameInfo">
        SELECT
        <include refid="select_columns"/>
        FROM domain_name_info
        WHERE deleted=false
        AND real_domain_name=#{realDomainName}
    </select>
    <insert id="save">
        INSERT INTO domain_name_info (
        <include refid="insert_columns"/>
        ) VALUES (
        #{realDomainName},
        #{registeredAt},
        now(),
        now(),
        false
        )
    </insert>
    <update id="update">
        UPDATE domain_name_info
        SET
        registered_at=#{registeredAt},
        updated_at=now()
        WHERE real_domain_name=#{readDomainName}
    </update>
</mapper>