<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.DomainNameInfoDaoMapper">
    <sql id="insert_columns">
        blog_domain_name,
        real_domain_name,
        registered_at,
        detected_at,
        refreshed_at,
        confirmed
    </sql>
    <sql id="select_columns">
        blog_domain_name as blogDomainName,
        real_domain_name as realDomainName,
        registered_at as registeredAt,
        detected_at as detectedAt,
        refreshed_at as refreshedAt,
        confirmed
    </sql>
    <select id="getByBlogDomainName" resultType="com.boyouquan.model.DomainNameInfo">
        SELECT
        <include refid="select_columns"/>
        FROM domain_name_info
        WHERE blog_domain_name=#{blogDomainName}
    </select>
    <insert id="save">
        INSERT INTO domain_name_info (
        <include refid="insert_columns"/>
        ) VALUES (
        #{blogDomainName},
        #{realDomainName},
        #{registeredAt},
        now(),
        now(),
        false
        )
    </insert>
    <update id="update">
        UPDATE domain_name_info
        SET
        registered_at=#{registeredAt},
        refreshed_at=now()
        WHERE blog_domain_name=#{blogDomainName}
    </update>
</mapper>