<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.MomentDaoMapper">
    <sql id="insert_columns">
        blog_domain_name,
        description,
        image_url,
        created_at,
        updated_at,
        deleted
    </sql>
    <sql id="select_columns">
        id,
        blog_domain_name as blogDomainName,
        description,
        image_url as imageURL,
        created_at as createdAt,
        updated_at as updatedAt,
        deleted
    </sql>
    <select id="count" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM moment
        WHERE deleted=false
    </select>
    <select id="list" resultType="com.boyouquan.model.Moment">
        SELECT
        <include refid="select_columns"/>
        FROM moment
        WHERE deleted=false
        ORDER BY created_at DESC
        LIMIT #{offset}, #{rows}
    </select>
    <select id="existsByBlogDomainNameAndDescription" resultType="boolean">
        SELECT
        EXISTS (
        SELECT 1 FROM moment
        WHERE deleted=false
        AND blog_domain_name=#{blogDomainName}
        AND description=#{description}
        )
    </select>
    <select id="listByBlogDomainNameAndStartDate" resultType="com.boyouquan.model.Moment">
        SELECT
        <include refid="select_columns"/>
        FROM moment
        WHERE deleted=false
        AND blog_domain_name=#{blogDomainName}
        AND created_at >= #{startDate}
        ORDER BY created_at DESC
    </select>
    <select id="countByBlogDomainNameAndStartDate" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM moment
        WHERE deleted=false
        AND blog_domain_name=#{blogDomainName}
        AND created_at >= #{startDate}
    </select>
    <select id="countLikesByBlogDomainNameAndStartDate" resultType="java.lang.Long">
        SELECT
        IFNULL(SUM(l.amount), 0)
        FROM moment m,
        likes l
        WHERE m.id = l.entity_id
        AND l.type = 'MOMENTS'
        AND m.deleted=false
        AND m.blog_domain_name=#{blogDomainName}
        AND m.created_at >= #{startDate}
    </select>
    <insert id="save">
        INSERT INTO moment (
        <include refid="insert_columns"/>
        ) VALUES (
        #{blogDomainName},
        #{description},
        #{imageURL},
        now(),
        now(),
        false
        )
    </insert>
</mapper>