<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.PostImageDaoMapper">
    <sql id="insert_columns">
        link,
        image_type,
        image_size_kb,
        year_str,
        month_str,
        raw_image_url,
        image_url,
        captured_at,
        updated_at,
        deleted
    </sql>
    <sql id="select_columns">
        link,
        image_type as imageType,
        image_size_kb as imageSizeKb,
        year_str as yearStr,
        month_str as monthStr,
        raw_image_url as rawImageURL,
        image_url as imageURL,
        captured_at as capturedAt,
        updated_at as updatedAt,
        deleted
    </sql>
    <select id="getImageURLByLink" resultType="java.lang.String">
        SELECT
        image_url
        FROM post_image
        WHERE deleted=false
        AND link=#{link}
    </select>
    <select id="getByLink" resultType="com.boyouquan.model.PostImage">
        SELECT
        <include refid="select_columns"/>
        FROM post_image
        WHERE deleted=false
        AND link=#{link}
    </select>
    <select id="existsImageURLByLink" resultType="boolean">
        SELECT
        EXISTS (
        SELECT 1 FROM post_image WHERE deleted=false AND link=#{link}
        )
    </select>
    <insert id="save">
        INSERT INTO post_image (
        <include refid="insert_columns"/>
        ) VALUES
        (
        #{link},
        #{imageType},
        #{imageSizeKb},
        #{yearStr},
        #{monthStr},
        #{rawImageURL},
        #{imageURL},
        now(),
        now(),
        false
        )
    </insert>
    <update id="update">
        UPDATE post_image
        SET image_type = #{imageType},
        image_size_kb = #{imageSizeKb},
        year_str = #{yearStr},
        month_str = #{monthStr},
        raw_image_url = #{rawImageURL},
        image_url = #{imageURL},
        updated_at = now()
        WHERE link = #{link}
    </update>
</mapper>