<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.PostImageDaoMapper">
    <sql id="insert_columns">
        link,
        image_type,
        raw_image_url,
        raw_image_size_kb,
        raw_image_width,
        raw_image_height,
        image_size_kb,
        image_width,
        image_height,
        year_str,
        month_str,
        image_name,
        captured_at,
        updated_at,
        deleted
    </sql>
    <sql id="select_columns">
        link,
        image_type as imageType,
        raw_image_url as rawImageURL,
        raw_image_size_kb as rawImageSizeKb,
        raw_image_width as rawImageWidth,
        raw_image_height as rawImageHeight,
        image_size_kb as imageSizeKb,
        image_width as imageWidth,
        image_height as imageHeight,
        year_str as yearStr,
        month_str as monthStr,
        image_name as imageName,
        captured_at as capturedAt,
        updated_at as updatedAt,
        deleted
    </sql>
    <select id="getImageURLByLink" resultType="java.lang.String">
        SELECT
        concat(year_str, '/', month_str, '/', image_name)
        FROM post_image
        WHERE deleted=false
        AND link=#{link}
    </select>
    <select id="getByLink" resultType="com.boyouquan.model.PostImage">
        SELECT
        <include refid="select_columns"/>
        FROM post_image
        WHERE deleted=false
        AND link=#{link}
    </select>
    <select id="existsImageURLByLink" resultType="boolean">
        SELECT
        EXISTS (
        SELECT 1 FROM post_image WHERE deleted=false AND link=#{link}
        )
    </select>
    <insert id="save">
        INSERT INTO post_image (
        <include refid="insert_columns"/>
        ) VALUES
        (
        #{link},
        #{imageType},
        #{rawImageURL},
        #{rawImageSizeKb},
        #{rawImageWidth},
        #{rawImageHeight},
        #{imageSizeKb},
        #{imageWidth},
        #{imageHeight},
        #{yearStr},
        #{monthStr},
        #{imageName},
        now(),
        now(),
        false
        )
    </insert>
    <update id="update">
        UPDATE post_image
        SET image_type = #{imageType},
        raw_image_url = #{rawImageURL},
        raw_image_size_kb = #{rawImageSizeKb},
        raw_image_width = #{rawImageWidth},
        raw_image_height = #{rawImageHeight},
        image_size_kb = #{imageSizeKb},
        image_width = #{imageWidth},
        image_height = #{imageHeight},
        year_str = #{yearStr},
        month_str = #{monthStr},
        image_name = #{imageName},
        updated_at = now()
        WHERE link = #{link}
    </update>
</mapper>